@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', serif;
}

.container {
    max-width: 90%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
    cursor: pointer;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.head {
    height: 10vh;
    line-height: 10vh;
    margin-bottom: 10vh;
}

.head i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #faf3e7;
    text-align: center;
    color: #266f14ad;
    line-height: 30px;
}

.head img {
    margin-top: 10px;
}

header {
    background: #388226ad;
    padding: 15px 0 15px 0;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    padding: 0 20px 0 0 ;
}

header li {
    margin-right: 30px;
}

header ul li a {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
    transition: 0.5s;
}

header ul li a:hover {
    color: rgb(185, 87, 21);    
}

header .head_contact {
    position: relative;
}

header .head_contact i {
    position: absolute;
    top: -29px;
    left: -200px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: white;
    color: #266f14ad;
    border-radius: 50%;
    transform: rotate(-45deg);
    border: 5px solid #6e4808ad;
    font-size: 30px;
}

header .sticky_logo {
    display: none;
}

/* header .sticky { 
    z-index: 999;
    position: fixed;
    width: 100%;
    background: #266f14ad;
    transition: 0.5s;
    top: 0;
    padding: 30px 0 0 0;
} */


@media only screen and (max-width: 768px) {

    /* head */
    .header .head_contact, .logo {
        display: none;
    }

    .nav-menu {
        background: #388226ad;
    }

    .navbar {
        height: 5vh;
        justify-content: space-between;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 11rem;
        flex-direction: column;
        background: #388226ad;
        text-align: center;
        transition: 0.5s;
        z-index: 99;
    }

    .headeer .nav-menu {
        top: 5rem;
    }

    .header ul li a {
        color: white;
    }

    .nav-menu.active {
        left: 0;
    }

    header li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
}

