@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', serif;
}

.container {
    max-width: 90%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
    cursor: pointer;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.head {
    height: 10vh;
    line-height: 10vh;
    margin-bottom: 6vh;
}

.head i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #faf3e7;
    text-align: center;
    color: #266f14ad;
    line-height: 30px;
}

.head img {
    margin-top: 10px;
}

header {
    background: #388226ad;
    padding: 15px 0 15px 0;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    padding: 0 20px 0 0 ;
}

header li {
    margin-right: 30px;
}

header ul li a {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
    transition: 0.5s;
}

header ul li a:hover {
    color: rgb(185, 87, 21);    
}

header .head_contact {
    position: relative;
}

header .head_contact i {
    position: absolute;
    top: -29px;
    left: -200px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: white;
    color: #266f14ad;
    border-radius: 50%;
    transform: rotate(-45deg);
    border: 5px solid #6e4808ad;
    font-size: 30px;
}

header .sticky_logo {
    display: none;
}

header.sticky .sticky_logo { 
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -10px;
}

header.sticky {
    z-index: 9999;
    position: fixed;
    width: 100%;
    background: #313538;
    transition: 0.5s;
    height: 12vh;
    transition: 0.5s;
    top: 0;
    padding: 30px 0 0 0;
}

header .sticky ul li a {
    color: white;
}


@media only screen and (max-width: 768px) {

    /* head */
    .header .head_contact, .logo {
        display: none;
    }

    header.sticky {
        height: 8vh;
    }
    
    header.sticky .nav-menu {
        background: #388226ad;
     }

    /* .nav-menu {
        background: #388226ad;
    } */

    .navbar {
        height: 5vh;
        justify-content: space-between;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 11rem;
        flex-direction: column;
        background: #388226ad;
        text-align: center;
        transition: 0.5s;
        z-index: 99;
        width: 100%;
        border-radius: 10px;
        z-index: 99;
    }

    .header.sticky .nav-menu {
        top: 5rem;
    }

    .header ul li a {
        color: white;
    }

    .nav-menu.active {
        left: 0;
    }

    header li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.home {
    background-image: url("../img/escape3points-ecolodge.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.home h1 {
    /* font-family: 'Great Vibes'; */
    font-size: 100px;
    color: #388226ad;
    padding-top: 10px;
}

.home p {
    color: rgb(49, 47, 47);
    font-size: 30px;
}

.home .box {
    background: white;
}

.home input {
    margin-top: 10px;
}

input {
    border: none;
    outline: none;
}

button {
    background: #388226ad;
    color: #faf3e7;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
}

button i {
    margin-left: 20px;
    font-size: 25px;
}

button span {
    margin-top: 5px;
}

/* about */
.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

.heading {
    text-align: center;
}

.heading h5 {
    font-weight: 400;
    letter-spacing: 5px;
    color: #112d05ad;
    padding-top: 20px;
    text-transform: uppercase;
}

.heading h2 {
    color: #1c639a;
    font-size: 45px;
    /* font-family: serif; */
    font-weight: 45px;
    margin: 10px 0 20px 0;
}

.left, .right {
    width: 50%;
}

h3 {
    font-size: 35px;
    color: #1c639a;
    margin-top: 20px;
}

.about {
    
}